$breakpoint-mobile: 335px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1024px;

// ----------- LIGHT MODE ----------- //
// $menu-bar-color:
$bg-white-01: #fffdf9;
$bg-purple-01: blueviolet;

// $font-color:
$fc-khaki-01: #b3b19f;
$fc-khaki-02: #676552;
$fc-khaki-03: #4b493b;
$fc-khaki-04: #545343;
$fc-white-01: #fffdf9;

// $border-color:
$fc-apricot-01: #d89370;

// $project-color:
$fc-apricot-02: #ffcc82;

// $button-color:
// $fc-white-01

// ----------- DARK MODE ----------- //
// $menu-bar-color:
$bg-black-01: #232323;
