@import "./theme";

.button_base {
  width: 70px;
  height: 40px;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  margin-left: 18px;
  a {
    text-decoration-line: none;
    color: white;
  }
  svg {
    display: flex !important;
    position: absolute;
    top: 14px;
    left: 0;
    margin-left: 14px;
  }
}

.personal {
  background-color: var(--btn-bg-color-01);
  color: var(--btn-fc-color-01);
}

.company {
  background-color: var(--btn-bg-color-02);
  color: var(--btn-fc-color-02);
}

.link {
  background-color: var(--btn-bg-color-03);
  color: var(--btn-fc-color-03);
  cursor: pointer;
}

.skill {
  font-weight: 550;
  background-color: var(--btn-bg-color-04);
  color: var(--btn-fc-color-04);
  width: auto !important;
  min-width: none !important;
  height: 33px;
  padding: 0px 10px 0 10px;
  margin-left: 10px;
}
