button {
  width: 70px;
  height: 40px;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  margin-left: 18px;
  a {
    text-decoration-line: none;
    color: white;
  }
}

.personal {
  background-color: #d89370c9;
  color: #602a2a;
}

.company {
  background-color: #b3b19f;
  color: #665f67;
}

.link {
  background-color: black;
  color: white;
  cursor: pointer;
}

.skill {
  font-weight: 550;
  background-color: rgba(135, 131, 120, 0.15);
  color: rgb(105, 64, 165);
  width: auto !important;
  min-width: none !important;
  height: 33px;
  padding: 0px 10px 0 10px;
  margin-left: 10px;
}
