@import "./mixin";
.box__footer {
  height: 20vh;
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: #434450;
}

.box__brand {
  margin-top: 30px;
}
.brand__logo {
  font-size: 60px;
  margin: 15px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #c4ced6;
  }
}

.copyright {
  margin-bottom: 40px !important;
  font-size: calc(12px + 0.5vw);
  color: #b3b19f;
  margin: 0;
}

@include mobile {
  .brand__logo {
    font-size: 40px;
  }
}
