@import "./mixin";
@import "./theme";

.box__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  background-color: var(--header-footer-bg-color);
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 2;
  color: var(--header-ft-color);
  box-shadow: 0 1px 0.3rem rgba(195, 200, 196, 0.8);
}

.logo {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s linear;
  font-size: 30px;
  z-index: 1;
  &:hover {
    color: var(--header-hv-color);
  }
}

.box__menu {
  margin-left: auto;
  display: flex;
  > div {
    display: flex;
    > h2 {
      margin-right: 20px;
      font-size: 25px;
      color: var(--header-ft-color);
      cursor: pointer;
      transition: 0.3s linear;
      &:hover {
        color: var(--header-hv-color);
      }
    }
  }
  > svg {
    display: none;
  }
}

.progress__container {
  position: fixed;
  top: 10vh;
  width: 100%;
  height: 3px;
  z-index: 2;
  background-color: transparent;
}

.progress__bar {
  width: 0;
  height: 3px;
  background-color: --header-pg-bar-color;
}

@include mobile {
  .logo {
    font-size: 22px;
  }
  .active {
    display: flex !important;
  }
  .box__menu {
    margin-right: 10px;
    > div {
      // opacity: 0;
      transition: all 0.3s;
      display: none;
      flex-direction: column;
      top: 7vh;
      background: navajowhite;
      position: absolute;
      width: 100%;
      left: 0;
      height: 334px;

      > h2 {
        display: flex;
        cursor: pointer;
        top: 50px;
        flex-direction: column;
        position: relative;
      }
    }

    > svg {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 17px;
      right: 10px;
      font-size: 20px;
    }
  }
}
@include tablet {
}
