@import "./mixin";
.main {
  margin-top: 7vh;
}

.box__profile {
  display: flex;
  position: relative;
  background-color: black;
  height: 93vh;
  width: 100%;
}

.box__img {
  object-fit: cover;
  width: 100%;
  opacity: 0.5;
}

.text__intro {
  position: absolute;
  z-index: 1;
  font-size: calc(10px + 0.8vw);
  left: 37%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}

.text__contact {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-size: calc(10px + 0.5vw);
  bottom: 3%;
  right: 15px;
  color: white;
  text-align: left;

  h2 {
    margin-left: 15px;
  }
}

.animate__bounce {
  position: absolute;
  bottom: 0;
  left: 50%;
  animation: bounce 0.4s ease infinite alternate;
}

/* 공통 영역 */
article {
  margin-left: 20vh;
  margin-right: 20vh;
  text-align: left;
  margin-bottom: 10vh;

  h1 {
    font-size: calc(30px + 1vw);
    margin: 3vh 0 3vh 0;
    border-bottom: rgb(216, 147, 112) solid;
    line-height: 11vh;
    min-height: 90px;
    &::before {
      content: "\f0c1";
      color: rgb(216, 147, 112);
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 20px;
    }
  }

  div > div {
    display: flex;
    > h2 {
      font-size: 30px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
}

/* 프로젝트 영역 */
.box__project {
  > div {
    border-radius: 15px;
    background-color: #ffcc82;
    padding: 30px 0 10px 30px;
    margin-bottom: 30px;
  }

  > div > div {
    justify-content: center;

    h2 {
      font-size: 27px;
    }
  }
  .box__title {
    align-items: center;
  }
  .project__detail {
    margin-top: 30px;
  }
  .box__slider {
    max-width: 40%;
    margin: 0px 30px 0px 30px;
  }

  .box__intro {
    display: block;
    width: 100%;

    .intro {
      padding: 10px 20px 10px 20px;
      display: block;
      width: 100%;
      p {
        padding-left: 1.5em;
        text-indent: -1.5em;
        font-size: 16px;
        line-height: 32px;
        color: #4677a6;

        &::before {
          content: "\f068";
          color: #4b443c;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          margin-right: 10px;
        }
      }
    }

    .skill {
      color: #4677a6;
      padding: 10px 20px 10px 20px;
      display: block;
      width: 100%;
      p {
        font-size: 15px;
        line-height: 32px;
        > button {
          &:first-child {
            // margin-left: 100px;
          }
        }
        &::before {
          content: "\f121";
          color: #4b443c;
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }
  }
}

.box__contact > h2 {
  display: flex;
  align-items: center;
}

.btn__top {
  position: fixed;
  cursor: pointer;
  right: 20px;
  bottom: 50px;
  border-radius: 17px;
  display: grid;
  justify-items: center;
  height: 80px;
  font-size: 20px;
  width: 80px;
  transition: all 0.3s;
  visibility: hidden;
  background: linear-gradient(180deg, #b3b19f, #d89370);
  opacity: 0;
  svg {
    margin-top: 10px;
  }

  span {
    margin-bottom: 3px;
  }
}

/* 애니메이션 영역 */
@keyframes bounce {
  0% {
    top: 90%;
  }
  100% {
    top: 95%;
  }
}

@include mobile {
  .profile__box {
    display: block;
  }
  /* 공통 영역 */
  article {
    margin: 0 0 0 0;
  }

  .text__contact {
    bottom: 40px;
  }

  /* 프로젝트 영역 */
  .box__project {
    > div {
      border-radius: 15px;
      background-color: #ffcc82;
      margin-bottom: 30px;
      width: 95%;
      padding: 20px 10px 10px 10px;
      margin: 10px;
      margin-bottom: 40px;
    }

    > div > div {
      justify-content: center;
      text-align: -webkit-center;
      margin-bottom: 10px;
      padding: 0 7px;

      h2 {
        font-size: calc(13px + 1vw);
      }

      button {
        font-size: calc(10px + 0.4vw);
      }
    }
    .box__slider {
      max-width: 280px;
      justify-content: center;
      margin: 0px 30px 0px 30px;
    }

    .project__detail {
      display: block;
    }

    .box__intro {
      display: block;
      width: 100%;

      .intro {
        padding: 0 0 0 0px;
        display: block;
        width: 100%;
        p {
          padding: 0 3em 0 1.5em;
          padding-left: 1.5em;
          text-indent: -1.5em;
          font-size: calc(10px + 1vw);
          line-height: 30px;
          font-weight: 300;
          text-align: left;

          &::before {
            content: "\f068";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            margin-right: 10px;
          }
        }
      }

      .skill {
        padding: 10px 0px 10px 0px;
        display: block;
        width: 100%;
        p {
          font-size: calc(10px + 1vw);
          line-height: 32px;
          text-align: left;

          &::before {
            content: "\f121";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .btn__top {
    height: 60px;
    font-size: 15px;
    width: 60px;
    svg {
      margin-top: 5px;
    }

    span {
      margin-bottom: 3px;
    }
  }
}

@include tablet {
  .profile__box {
    display: block;
  }

  article {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}
