@import "./mixin";
.main {
  margin-top: 10vh;
}

.box__profile {
  display: flex;
  position: relative;
  background-color: black;
  height: 90vh;
  width: 100%;
}

.box__img {
  object-fit: cover;
  width: 100%;
  opacity: 0.5;
}

.text__intro {
  position: absolute;
  z-index: 1;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}

.text__contact {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-size: 15px;
  bottom: 3%;
  left: 15px;
  color: white;
  text-align: left;

  h2 {
    margin-left: 15px;
  }
}

.animate__bounce {
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 90%;
  animation: bounce 0.4s ease infinite alternate;
}

/* 공통 영역 */
article {
  margin-left: 20vh;
  margin-right: 20vh;
  text-align: left;
  margin-bottom: 10vh;

  h1 {
    font-size: 55px;
    margin: 3vh 0 3vh;
    border-bottom: rgb(216, 147, 112) solid;
    line-height: 11vh;
    min-height: 90px;
  }
  h1::before {
    content: "\f0c1";
    color: rgb(216, 147, 112);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 20px;
  }
  div > div {
    display: flex;
    align-items: center;
  }

  div > div > h2 {
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
  }
}

/* 경력 영역 */
.resume__result {
  font-size: 25px;
  font-weight: 500;

  &:before {
    content: "\f303";
    color: burlywood;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
  }
}

/* 프로젝트 영역 */
.box__project > div > h2 {
  font-size: 30px;
}

.project__intro::before {
  content: "\f303";
  color: burlywood;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.box__project > div > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.box__contact > h2 {
  display: flex;
  align-items: center;
}
/* 애니메이션 영역 */
@keyframes bounce {
  0% {
    top: 90%;
  }
  100% {
    top: 95%;
  }
}

@include mobile {
  .profile__box {
    display: block;
  }
  /* 공통 영역 */
  article {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}

@include tablet {
  .profile__box {
    display: block;
  }

  article {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}
