.container {
  display: block;
  margin-bottom: 80px;
  position: relative;

  .button__right {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
  }
  .button__left {
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
  }
}
.box__slider {
  transition: all 0.3s;
  width: 300px;
  height: 350px;
  background-color: rgba(86, 86, 86, 0.706);
  overflow: hidden;
  scroll-behavior: auto;

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    min-width: 100%;
    max-height: 250px;
    cursor: pointer;
  }
}

#left {
  color: white;
}
#right {
  color: white;
  right: 1000px;
}
.box__locate {
  margin-top: 25px;
  justify-content: center;
}
