@import "../styles/mixin";
@import url("https://fonts.googleapis.com/css?family=Niramit:300,300i,700");

// reset some browser default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// colors
$primary: #b56b00;
$danger: #c67500;
$success: #d77f00;
$warning: #e88900;
$secondary: #0e0a07;
$graduation: #ffc571;
$info: #11cdef;

// timeline variables
$body-bg: #1e1e2f;
$timeline-before-bg: #222a42;
$timeline-body-bg: #ffbe60;
$timeline-body-round: 3px;
$timeline-body-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
$timeline-icon-bg: #ffbe60;

// body {
//   font-family: "K2D", sans-serif;
//   background: $body-bg;
//   letter-spacing: 1px;
// }

// page container
.container {
  max-width: 70%;
  margin: 50px auto;
}

// typography
p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 14px;
  opacity: 0.8;
}

// timeline style
.timeline {
  display: block;
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: white;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: $timeline-body-bg;
  }

  .timeline_container {
    position: relative;
    margin-bottom: 2.5rem;

    .timeline_icon {
      position: absolute;
      left: -88px;
      top: 4px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      font-size: 2rem;
      background: $timeline-icon-bg;

      i {
        font-size: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .timeline_body {
      display: block;
      width: 100%;
      background: $timeline-body-bg;
      border-radius: $timeline-body-round;
      padding: 20px 20px 15px;
      box-shadow: $timeline-body-shadow;

      &:before {
        content: "";
        background: inherit;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: -10px;
        transform: rotate(45deg);
        border-radius: 0 0 0 2px;
      }

      .timeline_title {
        margin-bottom: 1.4rem;

        .badge {
          background: $secondary;
          padding: 4px 8px;
          margin-right: 10px;
          border-radius: 3px;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .timeline_subtitle {
        font-weight: 300;
        font-style: italic;
        opacity: 0.4;
        margin-top: 16px;
        font-size: 11px;
      }

      p {
        font-size: calc(10px + 0.4vw);
        line-height: 38px;
        color: #4677a6;
        &::before {
          content: "\f303";
          color: #4b443c;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          margin-right: 10px;
        }
      }
    }

    // Primary Timeline
    &.primary {
      .badge,
      .timeline-icon {
        background: $primary !important;
      }
    }

    // Info Timeline
    &.info {
      .badge,
      .timeline-icon {
        background: $info !important;
      }
    }

    // Success Timeline
    &.success {
      .badge,
      .timeline-icon {
        background: $success !important;
      }
    }

    // Warning Timeline
    &.warning {
      .badge,
      .timeline-icon {
        background: $warning !important;
      }
    }

    // Dnager Timeline
    &.danger {
      .badge,
      .timeline-icon {
        background: $danger !important;
      }
    }

    // Dnager Timeline
    &.graduation {
      .badge,
      .timeline-icon {
        background: $graduation !important;
      }
    }
  }
}

.author {
  font-family: inherit;
  padding: 3em;
  text-align: center;
  width: 100%;
  color: white;

  a:link,
  a:visited {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  .btn:link,
  .btn:visited {
    margin-top: 1em;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-weight: 100;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: black;
    padding: 1.5em 2rem;
    border-radius: 1em;
    transition: 0.5s all;
    &:hover,
    &:focus,
    &:active {
      background-color: lighten(black, 10%);
    }
  }
}

@include mobile {
  .container {
    max-width: 100%;
  }
  .timeline_body {
    width: 90% !important;
  }
}
